body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  padding: 30px;
}

span {
  font-weight: normal;
  font-size: 0.75em;
  color:#777;
}

input {
  font-size: 1em;
  margin-bottom: 10px;  
}

.column {
  padding-bottom: 20px;
  padding-left: 10px;
  float: left;
  width: 48%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
      width: 100%;
  }
}

/**
 * Tic Tac Game styles
 */

 .game ol, ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;    
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/**
 * Contact Form
 */
.contact-form {
  margin-top: 16px;
}

.contact-form input[type=text], select, textarea {
  font-size: 0.9em;  
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form textarea {
  height:200px;
}

.contact-form input[type=submit] {
  font-size: 0.9em;
  background-color: #2196F3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #2196F3;
}

.contact-thank-you {
  margin-top: 16px;
  font-weight: normal;
  font-size: 1em;
}

.contact-thank-you {
  font-family: Georgia, "Times New Roman", Times;
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
  color: #076191;
  padding: .5rem 1rem;
  border-left: .25rem solid #076191;
  display: block;
}
